<section class="sixthsection">
    <h3 class="title">Knowledge World in Social Media</h3>
    <div class="slider">
        <div class="slides-wrapper">
            <div class="slide">
                <img src="./assets/images/6th-section-slide-img1.png" alt="" class="slide">
            </div>
            <div class="slide">
                <img src="./assets/images/6th-section-slide-img2.png" alt="" class="slide">
            </div>
            <div class="slide">
                <img src="./assets/images/6th-section-slide-img3.png" alt="" class="slide">
            </div>
            <div class="slide">
                <img src="./assets/images/6th-section-slide-img1.png" alt="" class="slide">
            </div>
            <div class="slide">
                <img src="./assets/images/6th-section-slide-img2.png" alt="" class="slide">
            </div>
        </div>
    </div>
    <div class="navigation">
        <div class="nav-buttons">
            <div class="nav-btn active"></div>
            <div class="nav-btn"></div>
            <div class="nav-btn"></div>
            <div class="nav-btn"></div>
            <div class="nav-btn"></div>
        </div>
        <div class="arrows">
            <img src="./assets/images/arrow.png" alt="" class="left-arrow arrow">
            <img src="./assets/images/arrow.png" alt="" class="right-arrow arrow">
        </div>
    </div>
</section>