<section class="seventhsection">
    <div class="left">
        <h3 class="title">Contact us</h3>
        <div class="info">
            <h5 class="info-title">EMAIL</h5>
            <a href="mailto:knowledgeworld@pdo.co.om">knowledgeworld@pdo.co.om.</a>
        </div>
        <div class="info">
            <h5 class="info-title">ADDRESS</h5>
            <p>Sayh Al-Malih Street, Muscat 113, Oman</p>
        </div>
        <h5 class="working-hours">Working hours</h5>
        <div class="days-time">
            <div class="days">
                <h5 class="days-title">Days</h5>
                <p class="days-description">From Sunday to Thursday </p>
            </div>
            <div class="time">
                <h5 class="time-title">Time</h5>
                <p class="time-description">08:00AM - 3:00PM</p>
            </div>
        </div>
    </div>
    <div class="right">
        <img draggable="false" src="./assets/images/7th-section-img.png" alt="">
    </div>
</section>