@import '../../assets/variables.scss';
@import '../../assets/fonts.scss';

.secondsection {
    width: $section-width;
    height: $section-height;
    margin: auto;
    padding: 48px 48px 72px;
    & .top {
        display: flex;
        justify-content: space-between;
        width: 100%;
        & .title {
            width: 275px;
            height: 150px;
            font-family: $lexend;
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 50px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: #0CA069;
        }
        & .description {
            width: 589px;
            height: 112px;
            font-family: $inter;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            color: #000000;
        }
    }
    & .card-wrapper {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        & .card {
            width: 400px;
            height: 560px;
            overflow: hidden;
            border-radius: 30px;
            position: relative;
            & img {
                position: absolute;
                top: 117px;
                left: 24px;
                scale: 1.75;
                transition: .3s ease;
            }
            & .card-title {
                position: absolute;
                top: 450px;
                left: 24px;
                width: 350px;
                height: 80px;
                font-family: $lexend;
                font-style: normal;
                font-weight: 500;
                font-size: 32px;
                line-height: 40px;
                text-transform: uppercase;
                color: #FFFFFF;
                transition: .3s ease;
            }
            & .card-description {
                display: none;
                transition: .3s ease;
            }
            & .card-link {
                display: none;
                transition: .3s ease;
            }
            &:hover {
                & img {
                    scale: 1.8;
                }
                & .card-title {
                    position: absolute;
                    top: 300px;
                }
                & .card-description {
                    position: absolute;
                    width: 350px;
                    top: 400px;
                    left: 24px;
                    display: block;
                    font-family: "Inter";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 21px;
                    line-height: 28px;
                    color: #fff;

                }
                & .card-link {
                    position: absolute;
                    display: block;
                    font-family: $inter;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 28px;
                    text-decoration: none;
                    color: #4AB376;
                    left: 24px;
                    bottom: 24px;
                }
            }
        }
    }
}