<section class="secondsection rtl">
    <div class="top">
        <h3 class="title">About Knowledge World</h3>
        <p class="description">PDO's Knowledge World curators are highly qualified specialists in their fields with the enthusiasm to educate and raise people's awareness about the oil and gas industry, the environment and astronomy.</p>
    </div>
    <div class="card-wrapper">
        <div class="card">
            <img src="./assets/images/2nd-section-img-1.png" alt="" class="card-img">
            <h5 class="card-title">oil & Gas exhibition</h5>
            <p class="card-description">Key areas of the Oil & Gas industry focused on exploration and the production of hydrocarbons</p>
            <a href="#" class="card-link">Learn more</a>
        </div>
        <div class="card">
            <img src="./assets/images/2nd-section-img-2.png" alt="" class="card-img">
            <h5 class="card-title">ecoman Centre</h5>
            <p class="card-description">Key areas of the Oil & Gas industry focused on exploration and the production of hydrocarbons</p>
            <a href="#" class="card-link">Learn more</a>
        </div>
        <div class="card">
            <img src="./assets/images/2nd-section-img-2.png" alt="" class="card-img">
            <h5 class="card-title">Planetarium</h5>
            <p class="card-description">Key areas of the Oil & Gas industry focused on exploration and the production of hydrocarbons</p>
            <a href="#" class="card-link">Learn more</a>
        </div>
    </div>
</section>