<section class="fourthsection rtl">
    <h3 class="section-title">UPCOMING EVENTS</h3>
    <div class="buttons">
        <button class="makebooking-btn">MAKE BOOKING</button>
        <button class="viewbooking-btn">VIEW A BOOKING</button>
    </div>
    <div class="tabs">
        <button class="tab active">THIS WEEK</button>
        <button class="tab">NEXT WEEK</button>
        <button class="tab">THIS MONTH</button>
    </div>
    <div class="select-wrapper-tab">
        <div class="select-box">
            <div class="options-container">
                <div class="option">
                    <input type="radio" class="radio" id="" name="category" />
                    <label data-value="0" for="news">THIS WEEK</label>
                </div>

                <div class="option">
                    <input type="radio" class="radio" id="" name="category" />
                    <label data-value="1" for="magazine">NEXT WEEK</label>
                </div>

                <div class="option">
                    <input type="radio" class="radio" id="" name="category" />
                    <label data-value="2" for="magazine">THIS MONTH</label>
                </div>
            </div>

            <div class="selected">
                THIS WEEK
            </div>
        </div>
    </div>
    <div class="wrappers-container">
        <div class="slide-wrapper this-week active">
            <div class="slide">
                <img src="./assets/images/4th-section-thisweek-img1.png" alt="" class="slide-img">
                <div class="slide-date">AUG 12</div>
                <div class="event brown">Explore</div>
                <h5 class="slide-title">Planetarium</h5>
                <p class="slide-description">The revamped Planetarium offers visitors an enhanced multimedia experience of the universe.</p>
                <div class="language">
                    <img src="./assets/images/lang.png" alt="" class="lang-icon">
                    English
                </div>
                <div class="time">
                    <img src="./assets/images/time.png" alt="" class="time-icon">
                    09:00 - 10:00
                </div>
                <div class="price">
                    <img src="./assets/images/price.png" alt="" class="price-icon">
                    100
                </div>
                <a href="#" class="slide-link"><button>Learn more</button></a>
            </div>
            <div class="slide">
                <img src="./assets/images/4th-section-thisweek-img2.png" alt="" class="slide-img">
                <div class="slide-date">AUG 12</div>
                <div class="event violet">Exhibition</div>
                <h5 class="slide-title">Planetarium</h5>
                <p class="slide-description">The revamped Planetarium offers visitors an enhanced multimedia experience of the universe.</p>
                <div class="language">
                    <img src="./assets/images/lang.png" alt="" class="lang-icon">
                    English
                </div>
                <div class="time">
                    <img src="./assets/images/time.png" alt="" class="time-icon">
                    09:00 - 10:00
                </div>
                <div class="price">
                    <img src="./assets/images/price.png" alt="" class="price-icon">
                    100
                </div>
                <a href="#" class="slide-link"><button>Learn more</button></a>
            </div>
            <div class="slide">
                <img src="./assets/images/4th-section-thisweek-img3.png" alt="" class="slide-img">
                <div class="slide-date">AUG 12</div>
                <div class="event green">Exhibition</div>
                <h5 class="slide-title">Planetarium</h5>
                <p class="slide-description">The revamped Planetarium offers visitors an enhanced multimedia experience of the universe.</p>
                <div class="language">
                    <img src="./assets/images/lang.png" alt="" class="lang-icon">
                    English
                </div>
                <div class="time">
                    <img src="./assets/images/time.png" alt="" class="time-icon">
                    09:00 - 10:00
                </div>
                <div class="price">
                    <img src="./assets/images/price.png" alt="" class="price-icon">
                    100
                </div>
                <a href="#" class="slide-link"><button>Learn more</button></a>
            </div>
            <div class="slide">
                <img src="./assets/images/4th-section-thisweek-img3.png" alt="" class="slide-img">
                <div class="slide-date">AUG 12</div>
                <div class="event green">Exhibition</div>
                <h5 class="slide-title">Planetarium</h5>
                <p class="slide-description">The revamped Planetarium offers visitors an enhanced multimedia experience of the universe.</p>
                <div class="language">
                    <img src="./assets/images/lang.png" alt="" class="lang-icon">
                    English
                </div>
                <div class="time">
                    <img src="./assets/images/time.png" alt="" class="time-icon">
                    09:00 - 10:00
                </div>
                <div class="price">
                    <img src="./assets/images/price.png" alt="" class="price-icon">
                    100
                </div>
                <a href="#" class="slide-link"><button>Learn more</button></a>
            </div>
            <div class="slide">
                <img src="./assets/images/4th-section-thisweek-img3.png" alt="" class="slide-img">
                <div class="slide-date">AUG 12</div>
                <div class="event green">Exhibition</div>
                <h5 class="slide-title">Planetarium</h5>
                <p class="slide-description">The revamped Planetarium offers visitors an enhanced multimedia experience of the universe.</p>
                <div class="language">
                    <img src="./assets/images/lang.png" alt="" class="lang-icon">
                    English
                </div>
                <div class="time">
                    <img src="./assets/images/time.png" alt="" class="time-icon">
                    09:00 - 10:00
                </div>
                <div class="price">
                    <img src="./assets/images/price.png" alt="" class="price-icon">
                    100
                </div>
                <a href="#" class="slide-link"><button>Learn more</button></a>
            </div>
        </div>
        <div class="slide-wrapper next-week">
            <div class="slide">
                <img src="./assets/images/4th-section-thisweek-img1.png" alt="" class="slide-img">
                <div class="slide-date">AUG 12</div>
                <div class="event brown">NExtlore</div>
                <h5 class="slide-title">Planetarium</h5>
                <p class="slide-description">The revamped Planetarium offers visitors an enhanced multimedia experience of the universe.</p>
                <div class="language">
                    <img src="./assets/images/lang.png" alt="" class="lang-icon">
                    English
                </div>
                <div class="time">
                    <img src="./assets/images/time.png" alt="" class="time-icon">
                    09:00 - 10:00
                </div>
                <div class="price">
                    <img src="./assets/images/price.png" alt="" class="price-icon">
                    100
                </div>
                <a href="#" class="slide-link"><button>Learn more</button></a>
            </div>
            <div class="slide">
                <img src="./assets/images/4th-section-thisweek-img2.png" alt="" class="slide-img">
                <div class="slide-date">AUG 12</div>
                <div class="event violet">NExtibition</div>
                <h5 class="slide-title">Planetarium</h5>
                <p class="slide-description">The revamped Planetarium offers visitors an enhanced multimedia experience of the universe.</p>
                <div class="language">
                    <img src="./assets/images/lang.png" alt="" class="lang-icon">
                    English
                </div>
                <div class="time">
                    <img src="./assets/images/time.png" alt="" class="time-icon">
                    09:00 - 10:00
                </div>
                <div class="price">
                    <img src="./assets/images/price.png" alt="" class="price-icon">
                    100
                </div>
                <a href="#" class="slide-link"><button>Learn more</button></a>
            </div>
            <div class="slide">
                <img src="./assets/images/4th-section-thisweek-img3.png" alt="" class="slide-img">
                <div class="slide-date">AUG 12</div>
                <div class="event green">Exhibition</div>
                <h5 class="slide-title">Planetarium</h5>
                <p class="slide-description">The revamped Planetarium offers visitors an enhanced multimedia experience of the universe.</p>
                <div class="language">
                    <img src="./assets/images/lang.png" alt="" class="lang-icon">
                    English
                </div>
                <div class="time">
                    <img src="./assets/images/time.png" alt="" class="time-icon">
                    09:00 - 10:00
                </div>
                <div class="price">
                    <img src="./assets/images/price.png" alt="" class="price-icon">
                    100
                </div>
                <a href="#" class="slide-link"><button>Learn more</button></a>
            </div>
            <div class="slide">
                <img src="./assets/images/4th-section-thisweek-img3.png" alt="" class="slide-img">
                <div class="slide-date">AUG 12</div>
                <div class="event green">Exhibition</div>
                <h5 class="slide-title">Planetarium</h5>
                <p class="slide-description">The revamped Planetarium offers visitors an enhanced multimedia experience of the universe.</p>
                <div class="language">
                    <img src="./assets/images/lang.png" alt="" class="lang-icon">
                    English
                </div>
                <div class="time">
                    <img src="./assets/images/time.png" alt="" class="time-icon">
                    09:00 - 10:00
                </div>
                <div class="price">
                    <img src="./assets/images/price.png" alt="" class="price-icon">
                    100
                </div>
                <a href="#" class="slide-link"><button>Learn more</button></a>
            </div>
        </div>
        <div class="slide-wrapper this-month">
            <div class="slide">
                <img src="./assets/images/4th-section-thisweek-img1.png" alt="" class="slide-img">
                <div class="slide-date">AUG 12</div>
                <div class="event brown">Month</div>
                <h5 class="slide-title">Planetarium</h5>
                <p class="slide-description">The revamped Planetarium offers visitors an enhanced multimedia experience of the universe.</p>
                <div class="language">
                    <img src="./assets/images/lang.png" alt="" class="lang-icon">
                    English
                </div>
                <div class="time">
                    <img src="./assets/images/time.png" alt="" class="time-icon">
                    09:00 - 10:00
                </div>
                <div class="price">
                    <img src="./assets/images/price.png" alt="" class="price-icon">
                    100
                </div>
                <a href="#" class="slide-link"><button>Learn more</button></a>
            </div>
            <div class="slide">
                <img src="./assets/images/4th-section-thisweek-img2.png" alt="" class="slide-img">
                <div class="slide-date">AUG 12</div>
                <div class="event violet">Month</div>
                <h5 class="slide-title">Planetarium</h5>
                <p class="slide-description">The revamped Planetarium offers visitors an enhanced multimedia experience of the universe.</p>
                <div class="language">
                    <img src="./assets/images/lang.png" alt="" class="lang-icon">
                    English
                </div>
                <div class="time">
                    <img src="./assets/images/time.png" alt="" class="time-icon">
                    09:00 - 10:00
                </div>
                <div class="price">
                    <img src="./assets/images/price.png" alt="" class="price-icon">
                    100
                </div>
                <a href="#" class="slide-link"><button>Learn more</button></a>
            </div>
            <div class="slide">
                <img src="./assets/images/4th-section-thisweek-img3.png" alt="" class="slide-img">
                <div class="slide-date">AUG 12</div>
                <div class="event green">Exhibition</div>
                <h5 class="slide-title">Planetarium</h5>
                <p class="slide-description">The revamped Planetarium offers visitors an enhanced multimedia experience of the universe.</p>
                <div class="language">
                    <img src="./assets/images/lang.png" alt="" class="lang-icon">
                    English
                </div>
                <div class="time">
                    <img src="./assets/images/time.png" alt="" class="time-icon">
                    09:00 - 10:00
                </div>
                <div class="price">
                    <img src="./assets/images/price.png" alt="" class="price-icon">
                    100
                </div>
                <a href="#" class="slide-link"><button>Learn more</button></a>
            </div>
        </div>
    </div>
    <div class="navigation">
        <div class="nav-buttons">
            <div class="nav-btn active"></div>
            <div class="nav-btn"></div>
            <div class="nav-btn"></div>
            <div class="nav-btn"></div>
            <div class="nav-btn"></div>
        </div>
        <div class="arrows">
            <img src="./assets/images/arrow.png" alt="" class="left-arrow arrow">
            <img src="./assets/images/arrow.png" alt="" class="right-arrow arrow">
        </div>
    </div>
    <div class="makebooking-stepper">
        <div class="top">
            <h3 class="title">MAKE A BOOKING</h3>
            <div class="close"><div></div></div>
        </div>
        <div class="progress">
            <div class="circle-green active">
                <div class="circle-white"></div>
            </div>
            <div class="circle-green">
                <div class="circle-white"></div>
            </div>
            <div class="circle-green">
                <div class="circle-white"></div>
            </div>
            <div class="progress-bar"></div>
            <div class="current-progress"></div>
        </div>
        <div class="steps-container">
            <div class="step step1 active">
                <div class="step-title">
                    <h3 class="step-title green">1</h3>
                    <h3 class="step-title grey">BOOKING DETAILS</h3>
                </div>
                <div class="content">
                        <form>
                            <div class="top">
                                <div class="left">
                                    <h5 class="info">Booking type</h5>
                                </div>
                                <div class="right">
                                    <div class="select-wrapper select-wrapper-booking-type">
                                        <div class="select-box">
                                            <div class="options-container">
                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="0" for="news">Individual/Family</label>
                                                </div>

                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="1" for="magazine">Individual</label>
                                                </div>

                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="2" for="publication">Family</label>
                                                </div>
                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="0" for="news">Individual/Family</label>
                                                </div>

                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="1" for="magazine">Individual</label>
                                                </div>

                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="2" for="publication">Family</label>
                                                </div>
                                            </div>

                                            <div class="selected">
                                                Select booking type
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="middle">
                                <div class="left"><h5 class="info">Your Details</h5>
                        <p class="info-description">Provide Your personal details to confirm your activity</p></div>
                                <div class="right">
                                    <input type="text" placeholder="Your Name" class="name">
                                    <input type="text" placeholder="Your second name" class="second-name">
                                    <div class="code-number">
                                        <div class="select-wrapper select-wrapper-code">
                                            <div class="select-box">
                                                <div class="options-container">
                                                    <div class="option">
                                                        <input type="radio" class="radio" id="" name="category" />
                                                        <label data-value="+1" for="news">+1</label>
                                                    </div>

                                                    <div class="option">
                                                        <input type="radio" class="radio" id="" name="category" />
                                                        <label data-value="+2" for="magazine">+2</label>
                                                    </div>

                                                    <div class="option">
                                                        <input type="radio" class="radio" id="" name="category" />
                                                        <label data-value="+9" for="publication">+9</label>
                                                    </div>
                                                    <div class="option">
                                                        <input type="radio" class="radio" id="" name="category" />
                                                        <label data-value="+1" for="news">+1</label>
                                                    </div>

                                                    <div class="option">
                                                        <input type="radio" class="radio" id="" name="category" />
                                                        <label data-value="+2" for="magazine">+2</label>
                                                    </div>

                                                    <div class="option">
                                                        <input type="radio" class="radio" id="" name="category" />
                                                        <label data-value="+9" for="publication">+9</label>
                                                    </div>
                                                </div>

                                                <div class="selected">
                                                    <span>Code</span>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="text" placeholder="Number" class="number">
                                    </div>
                                    <div class="checkbox-wrapper checkbox-wrapper-sms">
                                        <label class="container"> Send Booking Reminders to me by SMS
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <input class="email" placeholder="Email adress" type="email" name="email" id="">
                                    <div class="checkbox-wrapper checkbox-wrapper-newsletter">
                                        <label class="container"> Sign up for our Knowledge World newsletter
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    </div>
                                </div>
                            <div class="bottom">
                                <h5 class="left">Booking Details</h5>
                                <div class="right">
                                    <div class="select-wrapper select-wrapper-adult-visitors">
                                    <div class="select-box">
                                        <div class="options-container">
                                            <div class="option">
                                                <input type="radio" class="radio" id="" name="category" />
                                                <label data-value="1" for="news">1</label>
                                            </div>

                                            <div class="option">
                                                <input type="radio" class="radio" id="" name="category" />
                                                <label data-value="2" for="magazine">2</label>
                                            </div>

                                            <div class="option">
                                                <input type="radio" class="radio" id="" name="category" />
                                                <label data-value="2" for="publication">3</label>
                                            </div>
                                            <div class="option">
                                                <input type="radio" class="radio" id="" name="category" />
                                                <label data-value="1" for="news">4</label>
                                            </div>

                                            <div class="option">
                                                <input type="radio" class="radio" id="" name="category" />
                                                <label data-value="2" for="magazine">5</label>
                                            </div>

                                            <div class="option">
                                                <input type="radio" class="radio" id="" name="category" />
                                                <label data-value="2" for="publication">6</label>
                                            </div>
                                        </div>

                                        <div class="selected">
                                            Number of Adult Visitors (18+)
                                        </div>
                                    </div>
                                    </div>
                                    <div class="select-wrapper select-wrapper-child-visitors">
                                        <div class="select-box">
                                            <div class="options-container">
                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="1" for="news">1</label>
                                                </div>

                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="2" for="magazine">2</label>
                                                </div>

                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="2" for="publication">3</label>
                                                </div>
                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="1" for="news">4</label>
                                                </div>

                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="2" for="magazine">5</label>
                                                </div>

                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="2" for="publication">6</label>
                                                </div>
                                            </div>

                                            <div class="selected">
                                                Number of Child Visitors
                                            </div>
                                        </div>
                                    </div>
                                    <div class="select-wrapper select-wrapper-country">
                                        <div class="select-box">
                                            <div class="options-container">
                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="US" for="news">Oman</label>
                                                </div>

                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="UK" for="magazine">UK</label>
                                                </div>

                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="CA" for="publication">CA</label>
                                                </div>
                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="US" for="news">US</label>
                                                </div>
                                            </div>

                                            <div class="selected">
                                                Country
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                </div>
                <button class="btn next-step">NEXT STEP</button>
            </div>
            <div class="step step2">
                <div class="step-title">
                    <h3 class="step-title green">2</h3>
                    <h3 class="step-title grey">Pick booking day and time</h3>
                </div>
                    <div class="content">
                        <form>
                            <div class="top">
                                <h5 class="left">Select Centre</h5>
                                <div class="right">
                                    <div class="select-wrapper select-wrapper-center">
                                        <div class="select-box">
                                            <div class="options-container">
                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="Ecoman Centre" for="news">Ecoman Centre</label>
                                                </div>

                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="Centre 2" for="magazine">Centre 2</label>
                                                </div>

                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="Center 3" for="publication">Center 3</label>
                                                </div>
                                            </div>

                                            <div class="selected">
                                                Select Center
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="middle">
                                <h5 class="left">Select date</h5>
                                <div class="right">
                                    <div class="date-wrapper">
                                        <input type="date" class="date" name="" id="">
                                    </div>
                                </div>
                            </div>
                            <div class="bottom">
                                <h5 class="left">Select time slot</h5>
                                <div class="right">
                                    <div class="select-wrapper select-wrapper-time">
                                        <div class="select-box">
                                            <div class="options-container">
                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="08:00 - 09:00" for="news">08:00 - 09:00</label>
                                                </div>

                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="09:00 - 10:00" for="magazine">09:00 - 10:00</label>
                                                </div>

                                                <div class="option">
                                                    <input type="radio" class="radio" id="" name="category" />
                                                    <label data-value="10:00 - 11:00" for="publication">10:00 - 11:00</label>
                                                </div>
                                            </div>

                                            <div class="selected">
                                                Select timeslot
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                <button class="btn next-step">NEXT STEP</button>
                <button class="btn prev-step">STEP BACK</button>
            </div>
            <div class="step step3">
                <div class="step-title">
                    <h3 class="step-title green">3</h3>
                    <h3 class="step-title grey">SUMMARY</h3>
                </div>
                <div class="content">
                    <div class="left">
                        <div class="top">
                            <h3 class="title"></h3>
                            <ul class="date-time">
                                <li class="date">Date <span></span></li>
                                <li class="time">Time <span></span></li>
                            </ul>
                        </div>
                        <ul class="bottom">
                            <div class="wrapper">
                                <label>Booking Type</label>
                                <li class="bookingType"></li>
                            </div>
                            <div class="wrapper">
                                <label>Name</label>
                                <li class="name"></li>
                            </div>
                            <div class="wrapper">
                                <label>Contact Phone</label>
                                <li class="phone"></li>
                            </div>
                            <div class="wrapper">
                                <label>Email</label>
                                <li class="email"></li>
                            </div>
                            <div class="wrapper">
                                <label>Number of Adult Visitors (18+)</label>
                                <li class="adultsCount"></li>
                            </div>
                            <div class="wrapper">
                                <label>Number of Child Visitors</label>
                                <li class="childsCount"></li>
                            </div>
                            <div class="wrapper">
                                <label>Country</label>
                                <li class="country"></li>
                            </div>
                        </ul>
                    </div>
                    <div class="right">
                        <h5 class="title">Confirm Details</h5>
                        <p class="description">Please check and confirmall your booking details.If you need to cancelthen please contact us.</p>
                        <p class="description">If you need to update any details then plese use the linked provided.</p>
                        <ul class="links">
                            <li><a href="#">Change my details</a></li>
                            <li><a href="#">Change Date/Time</a></li>
                        </ul>
                    </div>
                </div>
                <button class="btn next-step">NEXT STEP</button>
                <button class="btn prev-step">STEP BACK</button>
            </div>
            <div class="step step4">
                <h3 class="title">Thank you for your booking!</h3>
                <p class="description">Our representatives will contact you to confirm the booking for <span class="description-day">Wednesday</span> <span class="description-date">26.05.2022</span> at <span class="description-place">EcOman Center</span> at <span class="description-tiOman">08 : 00</span></p>
                <div class="event-info">
                    <div class="place"></div>
                    <ul class="time-date">
                        <li>Date <span class="time-date_date"></span></li>
                        <li>Time <span class="time-date_time"></span></li> 
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="findbooking-stepper">
        <div class="top">
            <h3 class="title">FIND YOUR BOOKING</h3>
            <div class="close"><div></div></div>
        </div>
        <div class="step step1 active">
            <div class="step-title"><h3 class="title">Enter your details</h3></div>
            <div class="findBooking">
                <h5 class="title">Name or Email</h5>
                <input type="text" placeholder="Your name" class="name">
            </div>
            <div class="findBooking">
                <h5 class="title">Booking Ref</h5>
                <input type="text" placeholder="Your second name" class="secondName">
            </div>
            <button class="find">FIND</button>
        </div>
        <div class="step step2">
               <div class="step-title"><h3 class="title">YOUR BOOKING<span>#12838472</span></h3></div>
               <div class="content">
                    <div class="left">
                        <div class="top">
                            <h3 class="title">Ecoman Center</h3>
                            <ul class="date-time">
                                <li class="date">Date <span>26.05.22</span></li>
                                <li class="time">Time <span>08:00 - 09:00</span></li>
                            </ul>
                        </div>
                        <ul class="bottom">
                            <div class="wrapper">
                                <label>Booking Type</label>
                                <li class="bookingType">Individual/Family</li>
                            </div>
                            <div class="wrapper">
                                <label>Name</label>
                                <li class="name">Jon Doe</li>
                            </div>
                            <div class="wrapper">
                                <label>Contact Phone</label>
                                <li class="phone">+49(Germany)-94847302</li>
                            </div>
                            <div class="wrapper">
                                <label>Email</label>
                                <li class="email">fake@gmail.com</li>
                            </div>
                            <div class="wrapper">
                                <label>Number of Adult Visitors (18+)</label>
                                <li class="adultsCount">2</li>
                            </div>
                            <div class="wrapper">
                                <label>Number of Child Visitors</label>
                                <li class="childsCount">1</li>
                            </div>
                            <div class="wrapper">
                                <label>Country</label>
                                <li class="country">Oman</li>
                            </div>
                        </ul>
                    </div>
                </div>
        </div>
    </div>
</section>