<header class="header">
    <div class="open-menu">
        <div class="first"></div>
        <div class="second"></div>
        <div class="third"></div>
    </div>
    <ul class="links">
        <li><a href="#" class="link">Home</a></li>
        <li><a href="#" class="link">About Knowledge World</a></li>
        <li><a href="#" class="link">Contact us</a></li>
        <li><a href="#" class="link rtl">rtl</a></li>
        <div class="close">
            <div class="first"></div>
            <div class="second"></div>
        </div>
    </ul>
    <img draggable="false" src="./assets/images/header-logo.png" alt="" class="logo">
</header>