<section class="ninethsection rtl">
    <div class="left">
        <img src="./assets/images/9th-section-img.png" alt="">
        <h3 class="title">PDO Knowledge World</h3>
        <p class="description">Knowledge World staff are available to answer your enquiries during working hours.</p>
    </div>
    <div class="right">
        <div class="form-wrapper">
            <h5 class="form-title">Drop us a line!</h5>
            <p class="form-description">For any questions, please fil the form below.</p>
            <form class="form">
                <input type="text" class="name" placeholder="Your Name">
                <input type="text" class="phone" placeholder="Telephone Number">
                <input type="email" class="email" placeholder="Email Address">
                <textarea class="comment" placeholder="Your comment"></textarea>
                <button class="btn">Send</button>
            </form>
        </div>
    </div>
</section>