<footer class="footer">
    <ul class="links">
        <li><a href="#" class="link">Home</a></li>
        <li><a href="#" class="link">About Knowledge World</a></li>
        <li><a href="#" class="link">Contact us</a></li>
    </ul>
    <img draggable="false" src="./assets/images/footer-logo.png" alt="" class="logo">
</footer>