<section class="firstsection">
    <img src="./assets/images/1st-section-bg.png" alt="" class="section-bg">
    <h3 class="title">knowledge World</h3>
    <p class="description">The Knowledge World attractions are an engaging journey offering scientific learning opportunities for all visitors.</p>
    <a href="#" class="link"><button class="btn">Explore more</button></a>
</section>